<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#" style="color: maroon; font-weight: 600; font-size:xx-large">VMS</a>
    <div class="container">
      <a class="navbar-brand ms-4" style="color: maroon;" routerLink="vendor">Vendors</a>
      <a class="navbar-brand ms-4" style="color: maroon;" routerLink="invoice">Invoices</a>
      <a class="navbar-brand ms-4" style="color: maroon;" routerLink="currency">Currency</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>